---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | David Castro" description="About David Castro">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/about.JPG"
					alt="David Castro in College Graduation"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Experience</h2>
				<div class="content" >
					<p style="font-weight: 700;">Frontend Developer, PID Electronics (2023)</p>
					<p class="job-description" style="color: #94a3b8;">Sole frontend developer for the web application 'Recepcionista,' responsible for orchestrating and overseeing large-scale industrial visits. Leveraged Angular for front-end development, DynamoDB for robust database management, utilized TailwindCSS for responsive and modern design, and integrated AWS Cognito for secure authentication.</p>
					<p style="font-weight: 700;">Software Developer Intern, Interceramic (2023)</p>
					<p class="job-description" style="color: #94a3b8;">Create objects in Oracle SQL DB, creationg of views using Oracle Forms and Reports.</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I am a Mechatronics Engineer with a passion for web development. I have been working as a Frontend Developer for over a year now and I am currently working as a Frontend Developer at PID Electronics.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Mechatronics Engineer, Universidad La Salle Chihuahua (2017-2021).</p>
				</div>
			</section>
			<!-- <section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>officia unde omnis</p>
				</div>
			</section> -->
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>

	.job-description {
		font-size: medium;
	}
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
